.sidebar {
    /* position: fixed; */
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-nav-item-a {

	display:inline-block;
	cursor:pointer;
	color:#666565;
	font-size:0.8em;
	text-decoration:none;
    text-shadow:0px -1px 0px #aeb0af;
    width: 100%;
}

.sidebar-nav-item-a:hover {
	background:linear-gradient(to bottom, #bdbdbd 5%, #ffffff 100%);
	background-color:#bdbdbd;
}

.sidebar-nav-item-a:active {
	position:relative;
    top:1px;

}

.sidebar-nav{
    margin-bottom: 1em;
}
     